@font-face {
    font-family: BebasKai;
    src: url("../fonts/BebasKai.ttf");
}

body {
    background-color: #000000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

.text-dark {
    color: white !important;
}

.client-review {
    display: none;
}

.theme-modal .modal-body {
    background-color: #0e0e0e;
}

.btn-theme-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin: 1.5rem auto;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: -2px 4px 12px #10101080 !important;
    transition: 0.3s all ease-in-out;
    width: 220px;
}

.dark .btn-theme-mode.dark-theme {
    display: flex;
    color: #101010;
    background-color: #eee;
}

.dark .btn-theme-mode.dark-theme:hover {
    color: #101010;
    background-color: white;
    box-shadow: 0px 1px 12px #ffffff !important;
}

.pointer {
    cursor: pointer;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.padding-top-100 {
    padding-top: 100px !important;
}

.padding-top-150 {
    padding-top: 150px !important;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.padding-bottom-100 {
    padding-bottom: 100px !important;
}

.padding-bottom-150 {
    padding-bottom: 150px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-100 {
    margin-top: 100px !important;
}

.margin-top-150 {
    margin-top: 150px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-100 {
    margin-bottom: 100px !important;
}

.margin-bottom-150 {
    margin-bottom: 150px !important;
}

.font-theme {
    font-family: "BebasKai", sans-serif;
    font-weight: 500;
}

.focus-0 {
    outline: 0 !important;
    box-shadow: none;
}

.text-theme {
    color: #da291c;
}

.bg-theme {
    background-color: #da291c;
}

.bg-theme-dark {
    background-color: #ad2116;
}

.bg-grey {
    background-color: #202020;
}

.jumbo-text {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 33px;
}

.btn-theme-ghost {
    color: #ffffff;
    background-color: #da291c;
    border-width: 2px;
    transition: all 0.2s ease-in-out;
}

.btn-theme-ghost:hover {
    background-color: #ffffff;
    color: #da291c;
    border-color: #da291c;
    transition: all 0.2s ease-in-out;
}

a {
    text-decoration: none !important;
}

a.text-theme {
    color: #da291c;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a.text-theme:hover {
    color: #c4180c;
    text-decoration: none;
}

.btn-theme {
    color: #fff;
    background-color: #da291c;
    border-color: #da291c;
}

.btn-theme:hover {
    color: #fff;
    background-color: #c4180c;
    border-color: #c4180c;
}

.btn-theme:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(218, 41, 28, 0.2);
}

.btn-white-transparent {
    color: white;
    background-color: transparent;
    border-color: white;
}

.btn-white-transparent:hover {
    color: white;
    background-color: #5b5b5b;
    border-color: #565656;
}

.btn-white-transparent:focus {
    outline: 0;
    box-shadow: none;
}


/* nav top */

.main-header {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

nav.nav_top {
    background: #202020;
    width: 100%;
}

.nav_top_a {
    color: #a9aaac;
    font-size: 14px;
    padding-left: 14px;
}

.nav_top_item {
    margin-left: 20px;
    vertical-align: middle;
}

.nav_top .nav_top_item .dropdown-item:hover {
    color: #da291c;
    text-decoration: none;
    background-color: #f8f9fa;
}

.nav_top_item .nav_top__btn {
    background-color: #0e0e0e;
    color: #fff;
    display: inline-block;
    padding: 0px 26px;
    transform: skew(-28deg);
    text-align: center;
    transition: all 0.2s ease;
}

.nav_top_item .nav_top__btn:hover {
    background-color: #da291c;
}

.nav_top_item .nav_top__btn .nav_top_btn_text {
    display: inline-block;
    font-size: 14px;
    transform: skew(28deg);
    font-weight: 600;
}

.nav_top_item .nav_top_a:hover {
    color: #da291c;
    transition: all 0.2s ease-in-out;
}

.nav_top .dropdown:hover .menu_dropdown {
    display: block !important;
}


/*navbar*/

.main_navigation {
    background-color: #0e0e0e;
}

.main_navigation.fixed-top {
    transition: all 0.8s ease-in-out;
}

.main_navigation .nav-link {
    color: white !important;
    font-weight: 700;
}

.main_navigation .navbar-nav .dropdown:hover .menu_dropdown {
    display: block !important;
}

.main_navigation .navbar-nav .dropdown-item:hover {
    color: #da291c;
    text-decoration: none;
    background-color: #f8f9fa;
}

.find_link {
    border: 1px solid gray;
}

.main_navigation .collapse .nav-item:hover .nav_btn {
    background-color: #da291c;
    border-color: #da291c;
    color: white !important;
}

.main_logo {
    width: 180px;
}

.main_navigation .collapse .nav-link {
    padding: 25px 20px;
    position: relative;
}

.main_navigation .collapse .nav_btn {
    padding: 10px 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black !important;
    font-weight: 700;
}

.btn_nav_search {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white !important;
}

.main_navigation .collapse .nav-item:hover .btn_search {
    border: 2px solid #da291c !important;
    background-color: white !important;
}

.btn_nav_search.active {
    border: 2px solid #da291c !important;
    background-color: white !important;
    color: #da291c !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #da291c !important;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: rgba(255, 255, 255, 0.1);
}

.main_navigation .nav-link::after {
    content: "";
    border-bottom: 3px solid #da291c;
    display: inline-block;
    width: 35%;
    height: 5px;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.main_navigation .nav-link:hover::after,
.main_navigation .nav-link.active::after {
    opacity: 1;
}

.icon-image-wrapper {
    height: 0;
    padding-top: 62.6%;
    position: relative;
}

.icon-image {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    width: 100%;
}

.icon-image-filled {
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

.icon_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
    position: relative;
    z-index: 1;
}

.icon_item {
    margin-left: 16px;
    width: calc(25% - 12px);
}

.icon-image {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    width: 100%;
}

.icon-image-filled {
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

.icon-label {
    color: #202020;
    display: block;
    font: 700 12px/1.4667 Open Sans;
    margin-top: 10px;
    text-align: center;
}

.free_1_Day_Shipping {
    font-size: 0.9em;
    font-weight: 400;
}

.icon-link:hover .icon-image-filled {
    opacity: 1;
}

.btn-black {
    color: #fff !important;
    text-transform: uppercase;
    background: #1a1f2c;
    border: none;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
    font-size: 16px;
    padding: 16px 30px;
}

.btn_repair:hover {
    text-decoration: none;
    background: #1a1f2c !important;
}

.btn_repair {
    background-color: #404553;
}

.z_fix {
    z-index: 100;
    position: relative;
}

.red_bg {
    position: relative;
}

.red_bg::after {
    content: "";
    width: 100%;
    height: 400px;
    background: linear-gradient(to top left, #da291c 50%, #da291c, transparent 0);
    background: -webkit-linear-gradient(to top left, #da291c 50%, #da291c, transparent 0);
    position: absolute;
    bottom: 0;
    left: 0;
}

.search_city_section {
    background-color: #da291c;
    height: 300px;
}


/* fix section */

.products_section::after {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom left, #da291c 50%, #da291c, transparent 0);
    background: -webkit-linear-gradient(to bottom left, #da291c 50%, #da291c, transparent 0);
    width: 100%;
    height: 80px;
    top: 0;
    right: 0;
}

.all-devices .device-item {
    width: 20%;
    float: left;
    padding: 0 10px;
}

.card-body {
    transition: all 0.2s ease-in-out;
    position: relative;
}

.device-item-a {
    text-decoration: none !important;
}

.device-item-a .device_body img {
    transition: all 0.2s ease-in-out;
}

.device-item-a:hover .device_body img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.all-devices-card {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.all-devices-card:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.42);
}

.all-devices-card .device_footer {
    background-color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 0;
    position: relative;
}

.all-devices-card .device_footer p {
    color: #202020;
}

.device-item-a:hover .device_footer {
    background-color: #da291c;
    color: #fff;
    text-decoration: none;
}

.device-item-a:hover .device_footer p {
    color: #fff;
}

.heading-left-blue-style::before {
    content: "";
    height: 100%;
    background-color: #0696d6;
    position: absolute;
    left: -15px;
    top: 0;
    width: 7px;
}

.offers {
    font-size: 13px;
    line-height: 24px;
    color: #757575;
    padding: 20px;
    position: relative;
}

.title-highlight-top::after {
    content: "";
    width: 45px;
    background-color: #da291c;
    position: absolute;
    left: 19px;
    top: 0px;
    height: 5px;
    border-radius: 100px;
}

.title-highlight-top.top-grey::after {
    background-color: #e2e2e2;
    top: -25px;
}

.offer-speration::after {
    content: " ";
    border-left: 2px dashed #e3e3e3;
    top: 0;
    bottom: 21px;
    left: 0;
    position: absolute;
}

.offer-speration.dotted:before {
    content: " ";
    border: 3px solid #e3e3e3;
    width: 15px;
    height: 15px;
    display: inline-block;
    top: -15px;
    left: -6px;
    position: absolute;
    border-radius: 25px;
}

.footer_main {
    background: #0e0e0e;
    padding: 40px 0;
    font-size: 14px;
}

.footer_main .footer_quick_links li a {
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.footer_main .footer_quick_links li a:hover {
    color: #da291c;
}

.footer_main .footer_quick_links li:first-child {
    padding-bottom: 10px;
}

.footer_main .footer_subscription_area li:first-child {
    padding-bottom: 10px;
}

.footer_main .footer_subscription_area li a {
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.footer-social {
    display: inline-block;
    background-color: #000;
    border-radius: 5px;
    padding: 5px;
    height: 48px;
}

.social_icons {
    font-size: 30px !important;
    padding: 4px;
    transition: all 0.2s ease-in-out;
}

.social_icons:hover {
    font-size: 30px !important;
    color: #da291c;
}

.footer_description {
    color: #757575;
    font-size: 12px;
}

.footer_end {
    background-color: #000;
    padding: 10px 0 30px 0;
}

.footer_end_link li a {
    color: #7683a2;
    font-size: 12px;
    border-left: 1px solid #7683a2;
}

.footer_end_link li p {
    color: #7683a2;
    font-size: 12px;
}

.footer_end_link li a:hover {
    color: #7683a2;
    font-size: 12px;
    text-decoration: underline !important;
}

.partners_repair {
    border: 1px solid #e8e8ec;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.09);
    margin-top: 55px;
}

.text_overline:before {
    content: "";
    position: absolute;
    width: 15%;
    height: 5px;
    background-color: #e7e7e7;
    bottom: -25px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.About_us_text {
    font-size: 16px;
    line-height: 24px;
    color: #757575;
}

.about-title-down::after {
    width: 70%;
    background-color: #da291c;
    position: absolute;
    bottom: -35px;
    height: 5px;
    border-radius: 100px;
    margin-bottom: 25px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    left: 50%;
}

.featured_about {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right 55vw top;
    margin-bottom: 150px;
    padding: 50px 0;
}

.featured_about.featured_about_second {
    background-image: url(../img/about-repairs1.png);
}

.featured_about_second.featured_about_flip {
    background-position: 55vw 0;
}

.featured_about.featured_about_third {
    background-image: url(../img/quality-service.png);
}

.heading_underline_theme {
    position: relative;
    margin-bottom: 50px;
}

.heading_underline_theme::after {
    content: "";
    position: absolute;
    width: 45%;
    height: 5px;
    border-radius: 10px;
    background-color: #da291c;
    left: 0;
    bottom: -35px;
}

.get_in_touch {
    position: relative;
    background-image: url(../img/mobile4.jpg);
}

.get_in_touch_bg {
    background-color: #da291c;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 135px 0;
    color: #fff;
}

.get_in_touch_content {
    font-size: 28px;
    line-height: 1.1429;
    font-weight: 700;
}

.get_in_touch::after {
    content: "";
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top right, #000000 50%, #000000, transparent 0);
    background: -webkit-linear-gradient(to top right, #000000 50%, #000000, transparent 0);
}

.get_in_touch_btn:hover {
    color: #da291c;
    background-color: #e6e6e6;
    transition: all 0.2s ease-in-out;
}

.section-head::before {
    content: "";
    height: 100%;
    background-color: #0696d6;
    position: absolute;
    left: -15px;
    top: 0;
    width: 7px;
}

.base_bg {
    background-color: #f4f6f8;
    text-align: center;
}

.base_logo_row {
    padding: 20px 0px;
}


/* About Us Page */

.header-hero-about {
    min-height: 300px;
    background-color: #da291c;
    background-repeat: no-repeat;
    background-position: 100%;
    background-image: url(../img/mobile4.jpg);
    background-size: cover;
    position: relative;
}

.header-hero-about::after {
    content: "";
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top right, #000000 50%, #000000, transparent 0);
    background: -webkit-linear-gradient(to top right, #000000 50%, #000000, transparent 0);
}

.core-values .value {
    min-height: 250px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border-top: 5px solid #e2e2e2;
}

.core-values .value.value-dark {
    border-top: 5px solid #343a40;
}

.slice-left-to-right-gray:after,
.slice-right-to-left-gray:after {
    content: "";
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slice-right-to-left-gray:after {
    background: linear-gradient(to top left, #000000 50%, #000000, transparent 0);
    background: -webkit-linear-gradient(to top left, #000000 50%, #000000, transparent 0);
}

.slice-left-to-right-gray:after {
    background: linear-gradient(to top right, #000000 50%, #000000, transparent 0);
    background: -webkit-linear-gradient(to top right, #000000 50%, #000000, transparent 0);
}

.repair_main_bg {
    background-color: #db291d;
    background-repeat: no-repeat;
    background-position: 100%;
}

.repair_main_overlay {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.section-repair-main .repaire_store_upper {
    color: #000000;
    margin: 0;
    padding: 12px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #fff;
}

.section-repair-main .repair_location_form {
    background: #e9e8ed;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
}

.section-repair-main .repair_location_form .repair_location_btn {
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
}

.section-repair-main .repair_location_form .repair_location_form_border {
    background: #bdbbc1;
}

.section-repair-main .service_type_main {
    color: #000000;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.12);
    margin: 0 0 10px;
    padding: 12px 20px;
    display: block;
}

.section-repair-main .service_type_main .service_type_inner {
    font-weight: 700;
    color: black;
}

.text-dark-white {
    color: white !important;
}

.text-dark-black {
    color: #202020;
}

.device-item-a.active .device_footer {
    background-color: #da291c;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 0;
    text-decoration: none;
}

.device-item-a.active .all-devices-card {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.42);
}

.device-item-a.active .device_footer p {
    color: #fff;
}

.all-devices-card .repair_service {
    min-height: 153px;
}

.repair_card_main .repair_card_inner .img-fluid {
    height: 120px;
}

.repair_card_main .repair_card_inner .all-devices-card {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
    border-radius: 8px;
}

.repair_card_main .repair_card_inner .card {
    min-height: 470px;
}


/* .repair_review {
    background-color: #f9fdff;
} */

.repair_review .card-footer.device_footer {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 0;
    position: relative;
    background-color: #da291c;
}

.repair_review .all-devices-card {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
}

.review-star {
    position: relative;
    font-size: 36px !important;
}

.review-star-label {
    position: absolute;
    font-size: 15px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.repair_review .review_rating_innerline {
    background-color: #d4d4d4;
    width: 100%;
    height: 10px;
    position: relative;
    margin: 0 10px;
    border-radius: 2px;
}

.repair_review .review_rating_innerline .review_rating_upperline_5 {
    background-color: #da291c;
    position: absolute;
    height: 10px;
    border-radius: 2px;
    width: 84%;
    display: inline-block;
}

.repair_review .review_rating_innerline .review_rating_upperline_4 {
    background-color: #da291c;
    position: absolute;
    height: 10px;
    border-radius: 2px;
    width: 6%;
    display: inline-block;
}

.repair_review .review_rating_innerline .review_rating_upperline_3 {
    background-color: #da291c;
    position: absolute;
    height: 10px;
    border-radius: 2px;
    width: 2%;
    display: inline-block;
}

.repair_review .review_rating_innerline .review_rating_upperline_2 {
    background-color: #da291c;
    position: absolute;
    height: 10px;
    border-radius: 2px;
    width: 2%;
    display: inline-block;
}

.repair_review .review_rating_innerline .review_rating_upperline_1 {
    background-color: #da291c;
    position: absolute;
    height: 10px;
    border-radius: 2px;
    width: 5%;
    display: inline-block;
}

.repair_review .repair_review_btn {
    background-color: #0696d6;
    color: white;
    font-size: 17px;
    font-weight: 700;
    padding: 14px 24px;
}

.client_review .img-fluid {
    border: 2px solid #e4e4ed;
    border-radius: 60px;
}

.client_review .client_name {
    font-size: 18px;
    font-weight: 500;
}

.repair_review .reviews_view_more_btn {
    border: 2px solid rgb(0 151 220);
    color: #0696d6 !important;
    font-size: 19px;
    font-weight: 700;
    padding: 12px 52px;
    margin-top: 82px;
}


/* contact_us */

.contact_us_form_main {
    background: #da291c url(../img/contact-1.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_us_form_main .contact_us_form_main_bg {
    background: #fff;
    padding: 0;
    border-radius: 4px;
}

.contact_us_form_main .contact_us_form_main_bg .contact_us_form_inner {
    padding: 35px 35px 20px;
}

.contact_us_form_main_bg .contact_us_form_inner .form-control {
    background: #f0f4f6;
    border: none;
}

.contact_us_form_main .contact_us_form_main_bg .submit_contact_us_form {
    background: #0696d6;
    font-size: 20px;
    padding: 11px;
}

.contact_us_form_main .form-para {
    font-size: 19px;
}

.slice-right-to-left::after {
    content: "";
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top left, #000000 50%, #000000, transparent 0);
    background: -webkit-linear-gradient(to top left, #000000 50%, #000000, transparent 0);
}

.contact_us_a_main {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    min-height: 270px;
}

.contact_us_a_main .contact_us_a {
    padding: 21px;
    border-bottom: 1px solid gainsboro;
    font-size: 16px;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.contact_us_a:hover {
    background-color: #0696d6;
    color: white;
    transition: all 0.2s ease-in-out;
}

.contact_us_a a,
.contact_us_a p,
.contact_us_a .fa {
    color: #ffffff;
}

.contact_us_a:hover a,
.contact_us_a:hover p,
.contact_us_a:hover .fa {
    color: white !important;
}

.contact_us_a_main .contact_us_a:last-child {
    border-bottom: none;
}

.speration::after {
    content: " ";
    border-left: 2px dashed #e3e3e3;
    top: 46px;
    bottom: 0;
    left: 91px;
    position: absolute;
}

.certificate_favicon {
    position: relative;
    color: #17a50a;
    font-size: 1.4em !important;
}

.certificate_favicon .check_favicon {
    color: #fff;
    position: absolute;
    font-size: 11px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rating_stars {
    margin: 0 10px;
    position: relative;
    width: 115px;
}

.rating_stars .img-fluid {
    display: block;
    height: auto;
    width: 100%;
}

.rating_filled_stars {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 97%;
}

.rating_filled_stars .img-fluid {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 115px;
    max-width: none;
}

.service_available {
    color: #14a503;
    font-weight: 600;
}

.service-options .service_repair_btn {
    transition: all 0.5s ease-in-out;
}

.service-options .btn_theme_ghost:hover {
    color: #da291c;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

.store_info_card .store_info_btn {
    color: white;
    background-color: #0696d6;
    font-weight: 300;
    font-size: 20px;
    padding: 18px 10px;
    width: 100%;
    transition: all 0.15s ease-out;
    border-radius: 0px 0px 10px 10px;
}

.store_info_card .store_info_btn:hover {
    background-color: #0573a4;
    color: #fff;
}

.phones_repair_a {
    color: black;
}

.phones_repair:hover .phones_repair_a {
    color: #da291c;
}

.location_infromation_bg {
    background-image: url(../img/location_bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.start_to_repair_btn {
    background-color: #da291c;
    color: #fff;
    border: 2px solid white;
    padding: 15px 40px;
    transition: all 0.2s ease-in-out;
}

.start_to_repair_btn:hover {
    background-color: #fff;
    color: #da291c;
    transition: all 0.2s ease-in-out;
}

.login_bg {
    background-image: url(../img/login_bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-main {
    background-color: #ffffffb5;
    border-radius: 10px;
    padding: 35px;
    line-height: 38px;
    box-shadow: 0 5px 20px 0 rgba(88, 87, 87, 0.68);
}

.login-main .login-form .form-control:focus {
    box-shadow: none !important;
    border-color: none !important;
}

.message-warning,
.message-success {
    display: none;
    width: 100%;
}

.message-success {
    color: #4bb543;
}

.message-warning {
    color: #ff6163;
}

.device-item-a.sm-md-view .all-devices-card {
    background: white;
}

.device-item-a.sm-md-view:hover .all-devices-card {
    background-color: #da291c;
}

.btn-theme-mode.fixed {
    position: fixed;
    bottom: 70px;
    right: 25px;
    z-index: 20;
    width: 50px;
    height: 50px;
    display: flex;
    color: #101010;
    background-color: #eee;
}

.btn-theme-mode.fixed:hover {
    box-shadow: none !important;
}

.all-product-card p.product-name {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-item-a:hover p.product-name {
    color: #da291c;
}

.product-item-a .product-price {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
}

.product-item-a:hover .product-price {
    color: #da291c;
}

.product-item-a .product_body img.img-fluid {
    transition: 0.2s all ease-in-out;
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.product-item-a:hover .product_body img.img-fluid {
    transform: scale(1.05);
}

.page-item.active .page-link {
    background-color: #da291c;
    border-color: #da291c;
}

.pagination .page-link {
    color: #da291c;
}


/* Fixed Cart */

.fixed-cart {
    position: fixed;
    top: 150px;
    right: 0;
    z-index: 1031;
    text-align: center;
}

.fixed-cart .btn-cart-open {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #da291c;
    border-radius: 10px 0 0 10px;
}

.fixed-cart .cart-icon {
    color: #ffffff;
    border-radius: 0 0 6px 6px;
    height: 25px;
}

.fixed-cart .card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    border-radius: 5px;
}

.fixed-cart .card .card-header {
    border-radius: 5px 5px 0px 0px;
}

.fixed-cart .card .card-body {
    background-color: rgba(0, 0, 0, 0.03);
}

.fixed-cart .card .card-body .product-listing {
    max-height: 230px;
    overflow: auto;
}

.fixed-cart .card .card-footer {
    border-radius: 0px 0px 5px 5px;
}

.fixed-cart .dropdown-menu {
    transform: translate(-300px, 0px) !important;
    width: 290px;
    border-radius: 5px;
    padding: 0px;
    margin: 0;
    top: 0;
}

.fixed-cart .dropdown-menu::before,
.fixed-cart .dropdown-menu::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 6px;
    width: 16px;
    right: 10px;
    margin-left: auto;
    left: auto;
}

.fixed-cart .dropdown-menu::before {
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-left: 16px solid rgba(0, 0, 0, 0.2);
    border-top: 16px solid rgba(0, 0, 0, 0);
    right: -16px;
}

.fixed-cart .dropdown-menu::after {
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-left: 16px solid #fff;
    border-top: 16px solid rgba(0, 0, 0, 0);
    right: -15px;
}


/* Fixed Cart */


/* Media Queries */

@media screen and (max-width: 450px) {
    .main_logo {
        width: 165px;
    }
    .all-devices-card .device_footer {
        font-size: 15px !important;
    }
    .mt-sm-90 {
        margin-top: 90px;
    }
    .fixed-cart .dropdown-menu {
        transform: translate(-290px, -3px) !important;
    }
}

@media (min-width: 768px) {
    .main-header.is-scrolled {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    .mt-md-120 {
        margin-top: 120px;
    }
}

@media screen and (max-width: 800px) {
    .all-devices-card .device_body {
        width: 40%;
        border-right: 1px solid #ebebeb;
    }
    .service_type_buttons .all-devices-card .device_body,
    .device_type_buttons .all-devices-card .device_body {
        width: 100%;
        border: 0;
    }
    .all-devices-card .device_footer {
        width: 100%;
        font-size: 18px;
    }
    .service_type_buttons .all-devices-card .device_footer,
    .device_type_buttons .all-devices-card .device_footer {
        font-size: 14px;
    }
    .featured_about {
        background-size: auto 272px;
        background-position: top;
        padding-top: 338px;
        margin-bottom: 20px;
    }
    .featured_about.featured_about_second.featured_about_flip {
        background-size: auto 290px;
        background-position: top;
        padding-top: 390px;
    }
}

@media screen and (min-width: 900px) {
    .base_bg .base_logo_li .img-fluid {
        height: 33px !important;
    }
    .font-lg-big {
        font-size: 55px;
    }
}

.stripe-button-el {
    background-image: -webkit-linear-gradient(#da291c, #da291c) !important;
    background-image: -moz-linear-gradient(#da291c, #da291c) !important;
    background-image: -ms-linear-gradient(#da291c, #da291c) !important;
    background-image: -o-linear-gradient(#da291c, #da291c) !important;
    background-image: linear-gradient(#da291c, #da291c) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: .25rem !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.stripe-button-el:hover {
    background-image: -webkit-linear-gradient(#c4180c, #c4180c) !important;
    background-image: -moz-linear-gradient(#c4180c, #c4180c) !important;
    background-image: -ms-linear-gradient(#c4180c, #c4180c) !important;
    background-image: -o-linear-gradient(#c4180c, #c4180c) !important;
    background-image: linear-gradient(#c4180c, #c4180c) !important;
}

.stripe-button-el span {
    background-image: -webkit-linear-gradient(#da291c, #da291c) !important;
    background-image: -moz-linear-gradient(#da291c, #da291c) !important;
    background-image: -ms-linear-gradient(#da291c, #da291c) !important;
    background-image: -o-linear-gradient(#da291c, #da291c) !important;
    background-image: linear-gradient(#da291c, #da291c) !important;
    box-shadow: none !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.stripe-button-el:hover.stripe-button-el span {
    background-image: -webkit-linear-gradient(#c4180c, #c4180c) !important;
    background-image: -moz-linear-gradient(#c4180c, #c4180c) !important;
    background-image: -ms-linear-gradient(#c4180c, #c4180c) !important;
    background-image: -o-linear-gradient(#c4180c, #c4180c) !important;
    background-image: linear-gradient(#c4180c, #c4180c) !important;
}

.Checkout.is-desktop .Button {
    background-image: -webkit-linear-gradient(#da291c, #da291c) !important;
    background-image: -moz-linear-gradient(#da291c, #da291c) !important;
    background-image: -ms-linear-gradient(#da291c, #da291c) !important;
    background-image: -o-linear-gradient(#da291c, #da291c) !important;
    background-image: linear-gradient(#da291c, #da291c) !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: 0.25rem !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mob-repair-about {
    height: 100%;
}

.gilr-img-file {
    width: 475px;
}

.bg_owl_img1 {
    background: linear-gradient(45deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 100%)), url(../../assets/img/hero-bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.bg_owl_img2 {
    background: linear-gradient(45deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 100%)), url(../../assets/img/hero-bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.bg_owl_img3 {
    background: linear-gradient(45deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 100%)), url(../../assets/img/hero-bg-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.hero-main {
    width: 100%;
}

.hero-img {
    height: 150px;
    width: 200px !important;
    border-radius: 5px;
    padding: 10px;
}

.hero-text {
    color: rgb(255, 255, 255);
}

.hero-text h1,
.hero-text h3 {
    font-size: 110px;
    position: relative;
    /* width: max-content; */
    z-index: 2;
    opacity: 0;
    transform: translateX(-150px);
    transition: all 1s ease-in;
    color: #ad2116;
    font-weight: 600;
}

.hero-text h3 {
    font-size: 35px;
    color: white;
}

.hero-text .h1-2 {
    transform: translateX(150px);
}

.hero-text .h1-3 {
    transform: translateX(0px);
    transform: translateY(150px);
}

.owl-item.active .hero-text h1 {
    opacity: 1;
    transform: translateX(0px);
}

.owl-item.active .hero-text .h1-3 {
    opacity: 1;
    transform: translateY(0px);
}


/* .hero-text h1:before {
content: "";
height: 100%;
width: 100%;
position: absolute;
background-color: #ad2116;
left: 0px;
top: 0px;
z-index: -1;
} */

.owl-header .owl-nav {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 0;
    right: 0;
}

.owl-header .owl-nav button:focus {
    outline: 0;
}

.owl-header .owl-nav .owl-prev,
.owl-header .owl-nav .owl-next {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 38px !important;
    color: #cfcfcf !important;
    background: rgb(54 54 54 / 75%) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.owl-header .owl-nav .owl-prev:hover,
.owl-header .owl-nav .owl-next:hover {
    background: #000 !important;
}

.owl-header .owl-nav .owl-prev {
    left: 10px !important;
}

.owl-header .owl-nav .owl-next {
    right: 10px !important;
}

.owl-header .owl-nav .owl-next,
.owl-header .owl-nav .owl-prev {
    background-color: #da291c !important;
    color: #ffffff !important;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    display: inline-block !important;
    -webkit-transition: all 0.5s !important;
    transition: all 0.5s !important;
    font-size: 26px !important;
    border-radius: 45px !important;
}

.owl-header .owl-nav .owl-prev span {
    position: absolute;
    top: -32%;
    left: 32%;
}

.owl-header .owl-nav .owl-next span {
    position: absolute;
    top: -32%;
    right: 32%;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: red;
    color: white;
}

.owl-next {
    left: auto;
    right: 22%;
}

.owl-header .owl-nav {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 0;
    right: 0;
}

.owl-header .owl-nav button:focus {
    outline: 0;
}

@media only screen and (max-width:1100px) {
    .hero-text h1 {
        font-size: 80px;
    }
    .hero-text h3 {
        font-size: 25px;
    }
}

@media screen and (max-width: 900px) {
    .hero-text h1 {
        font-size: 40px;
    }
    .hero-text h3 {
        font-size: 20px;
    }
}